.area-container {
    width: 380px;
    height: 380px;
    // border: 2px solid red;
    float: left;
    margin-right: 20px;
    padding-top: 20px;

    .part {
        width: 100%;
        height: 70px;
        border: 3px solid initial;
        margin-bottom: 10px;

        display: flex;
        justify-content: center;
        align-items: center;

        &:hover {
            border: 3px solid white;
        }
    }

    .one {
        background-color: lemonchiffon;
    }

    .two {
        background-color: lawngreen;
    }

    .three {
        background-color: lightcoral;
    }
}